---
import Layout from '../layouts/Layout.astro';
import StockChart from '../components/StockChart.jsx';
import { h } from 'preact';
---

<Layout>
  <section class="py-20">
    <div class="container mx-auto">
      <StockChart />
    </div>
  </section>
</Layout>
